
    <%- include("kioskHeaderTest.ejs") %>
   
    <div align="center">
        <h3>전체목록</h3>
        <form action="/KIOSK/kioskOrderPro">
            <table border="1">
                <tr align="center">	
                    <td width="250px">이름</td>
                    <td><%= kioskTable[index]["kioskName"] %></td>			
                </tr>		
                <tr align="center">
                    <td width="250px">가격</td>
                    <td><%=  kioskTable[index]["kioskPrice"] %></td>
                </tr>
                <tr align="center">
                    <td width="250px">주문수량</td>
                    <td><input type="number" value="1" name="orderCount"></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><input type="submit" value="담기"></td>
                </tr>
                <input type="hidden" name="index" value="<%=index%>">
            </table>
    
        </form>

      
    </div>
