<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <table border="1">
            <tr align="center">
                <td>
                    <h2>Request 기본</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="formTest">폼 기본 </a>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="oddEven">짝수 홀수</a>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="compareNumber">숫자 비교</a>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>

            
        </table>

        <table border="1">
          
            <tr align="center">
                <td>
                    <h2>데이터 전달방법 Hidden</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="hiddenTest">히든 테스트</a>       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizUpDown">업다운게임</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quiz99">구구단</a>                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
          
            
        </table>

        
        <table border="1">
            
            <tr align="center">
                <td>
                    <h2>데이터 전달방법 URL</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="aTagTest">a 태그 와 button 태그</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizSelect">야바위게임</a>           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizOperator">연산자게임</a>         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
           
            
        </table>


        <table border="1">
           
            <tr align="center">
                <td>
                    <h2>다양한 입력양식 form</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    
                    <a href="radioTest">radio 태그</a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="selectTest">select 태그</a>          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="checkboxTest">checkbox 태그</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="textareaTest">textarea 태그</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="totalFormTest">종합 폼</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
            
        </table>
    </div>
</body>
</html>