 
    <div align="center">
        <table border="1">
         <tr>
         
             <td>
                 <button onclick="location.href='addTestPro'">랜덤 게시글(10개) 추가</button>
             </td>
             <td >
                 <button onclick="location.href='/'">초기화</button>
             </td>
                 
         </tr>
     </table>    
 </div>