
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시판1</title>
</head>
<body>

    <%- include("00testHeader.ejs") %>

	<div align="center">
		<h1>게시판</h1>
		
		<table border="1">
			<tr>
              
				<td >
					<button onclick="location.href='index'">메인</button>
				</td>
				<td >
					<button onclick="location.href='boardList'">전체 게시글</button>
				</td>			
				<td >
					<button onclick="location.href='addBoard'"> 게시글 쓰기 </button>
				</td>			
			</tr>
		</table>		
	</div>
</body>
</html>