<div align="center">
			
    <table border="1">
        <tr>
            <td >										
                <a href="memberList">회원전체</a>
            </td>
            <td >										
                <a href="addTestPro">랜덤회원추가(10명)</a>
            </td>
            <td >										
                <a href="/">초기화</a>
            </td>
        </tr>
    </table>
</div>